# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

*.swp
*~

configure.scan
*.log

build/

# bootstrap file
autom4te.cache/
*.m4
*.in
missing
install-sh
depcomp
configure
compile

*.bak
*.lock

.idea
